.container {
    max-width: 30vw;
    padding-top: 50px;
    width: 100%;
    margin: auto;
}

.name {
   display: flex;
   justify-content: space-between; 
   width: 96%;
}

.boy,.girl, .select, .fle {
    height: 65px;
}
#flex3, #flex2 {
    width: 95%;
}

.select {
    display: flex;
    justify-content: space-between;
     width: 96%;
}
span{
    color: red;
}

.male {
    display: flex; 
}
#flex , #flex1 {
    width: 210px;
}

#flex1, #flex2, #flex3, #flex4, #flex, #me{
    height: 35px;
    background-color: #f1f1f1;
    border: 0px;
    border-radius: 2px;
}

button{
    height: 40px;
    width: 110px;
    background:linear-gradient(to right, #34A853,#95C848,#A0D49C);
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
}

.but{
    padding-top: 18px;
    height: 30px;
}
.butt{
    padding-left: 30px;
    padding-top: 18px;
    color: yellowgreen;
}

#me {
    width: 140px;
    height: 35px;
}

a {
    color: black;
    text-decoration: none;
}

.container2{
    padding-top: 120px;
}

.come {
    text-align: center;
    padding-top: 20px;
}
.left {
    padding-top: 170px;
    padding-bottom: 30px;
}
.let {
    padding-left: 60px;
    padding-top: 30px;
}
.container3 {
    padding-top: 100px;
}



